<app-header [title]="title"></app-header>
<h1>Statistiques de {{ user.prenom }} {{ user.nom }}</h1>
<ul>
  <!--<li *ngFor="let user of users">
    <a class="navigation" [routerLink]="['/themes', user.id]">
      Utilisateur : {{ user.nom }}
    </a>
    <a [routerLink]="['/stats', user.id]">
      <button> Voir les stats de {{ user.nom }} </button>
      <app-stats-visualisation></app-stats-visualisation>
    </a>
  </li>-->
</ul>
<div id="choiceButtons">
  <button>clics</button>
  <button>r&eacute;ponses</button>
</div>
<div id="statsVisualiser">

</div>
<br>
<a class="navigation" [routerLink]="['/']">
  <button>Retour</button>
</a>
