<app-header [title]="title"></app-header>
<div class="page">
  <div class="ligne">
    <p class="texte">Taille du texte:</p>
    <button class="tailleTexteNormal" [ngClass]="{'selected': isTextNormalSelected}" (click)="selectText('normal')">{{texteNormal}}Normal</button>
    <button class="tailleTexteGros" [ngClass]="{'selected': isTextGrosSelected}" (click)="selectText('gros')">{{texteGros}}Gros</button>
  </div>

  <div class="ligne">
    <p class="texte">Taille du bouton:</p>
    <button class="tailleBoutonNormal" [ngClass]="{'selected': isButtonNormalSelected}" (click)="selectButton('normal')">{{boutonNormal}}Normal</button>
    <button class="tailleBoutonGros" [ngClass]="{'selected': isButtonGrosSelected}" (click)="selectButton('gros')">{{boutonGros}}Gros</button>
  </div>

  <div class="ligne">
    <button class="retour" (click)="goBack()">
      Retour
    </button>
  </div>
</div>
