<app-header [title]="title"></app-header>
<div class="page">
  <div class="ligne">
    <p class="texte">Taille du texte:</p>
    <button class="tailleTexteNormal">Normal</button>
    <button class="tailleTexteGros">Gros</button>
  </div>

  <div class="ligne">
    <p class="texte">Taille du bouton:</p>
    <button class="tailleBoutonNormal">Normal</button>
    <button class="tailleBoutonGros">Gros</button>
  </div>

  <div class="ligne">
    <button class="retour">
      Retour
    </button>
  </div>
</div>
