.header{
  background-color: #183446;
  font-size: 20px;
  color: #333;
  display: flex;
  height: 70px;

}
.title{
  width: 80%;
  height: 60%;
  border-radius:20px;
  margin:auto;
  text-align: center;
  background-color: #C3D5D0;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: #183446;
}
.parameter{
  background-image: url(../../assets/parametre.png);
  background-color: #C3D5D0FF;
  background-size: 100% 100%;
  width: 5%;
  height: 80%;
  margin-top:auto;
  margin-bottom:auto;
  margin-left: auto;
  position: relative;
}
.logout{
  background-image: url(../../assets/logout.png);
  background-color: #C3D5D0FF;
  background-size: 100% 100%;
  width: 5%;
  height: 80%;
  margin-top:auto;
  margin-bottom:auto;
  margin-right: auto;
  position: relative;
}
