.header{
  background-color: #17252A;
  font-size: 20px;
  color: #333;
  display: flex;
  height: 70px;

}
.title{
  width: 80%;
  height: 60%;
  border-radius:20px;
  margin:auto;
  text-align: center;
  background-color: #def2f1;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: #183446;
}
.parameter{
  background-image: url(../../assets/parametre.png);
  background-color: #C3D5D0FF;
  background-size: 100% 100%;
  width: 5.5vh;
  height: 5.5vh;
  margin-top:auto;
  margin-bottom:auto;
  margin-left: auto;
  position: relative;
}

.parameter.redirected {
  background-image: url("https://cdn.icon-icons.com/icons2/2645/PNG/512/house_door_icon_160036.png");
}

.logout{
  background-image: url(../../assets/logout.png);
  background-color: #C3D5D0FF;
  background-size: 100% 100%;
  width: 5.5vh;
  height: 5.5vh;
  margin-top:auto;
  margin-bottom:auto;
  margin-right: auto;
  position: relative;
}
