<app-header [title]="title"></app-header>
<a class="navigation" [routerLink]="['/management-users', id_user]">
  <button class="retour">Retour</button>
</a>
<div class="mainDiv">
  <div class="gauche">
    <img class="image" [src]="imagePath" alt="Texte alternatif" style="width: 150px; height: 100px;">
  </div>

  <div class="droite">
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
      <label for="nom">Nom</label>
      <input type="text" id="nom" formControlName="nom">
      <br>
      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" formControlName="prenom">
      <br>
      <label for="age">Âge</label>
      <input type="number" id="age" formControlName="age">
      <br>

      <label>
        <input type="radio" name="gender" value="male" formControlName="gender"> Homme
      </label>
      <label>
        <input type="radio" name="gender" value="female" formControlName="gender"> Femme
      </label>

      <br><br>
      <h3>Stade de Parkinson</h3>

      <label>
        <input type="radio" formControlName="stade" name="stade" value="0"> Stade 0
      </label>
      <label>
        <input type="radio" formControlName="stade" name="stade" value="1"> Stade 1
      </label>
      <label>
        <input type="radio" formControlName="stade" name="stade" value="23"> Stade 2 & 3
      </label>
      <label>
        <input type="radio" formControlName="stade" name="stade" value="4"> Stade 4
      </label>
      <br>

      <label>
        <input type="checkbox" formControlName="needBigButton"> Cocher si ce nouveau compte aura besoin de boutons de grande taille
      </label>
      <br>

      <label>
        <input type="checkbox" formControlName="needBigText"> Cocher si ce nouveau compte aura besoin de textes de grande taille
      </label>
      <br>

      <label>
        <input type="checkbox" formControlName="administrator"> Cocher si ce nouveau compte est un compte de personnel de santé
      </label>
      <br>

      <label for="path_pp">Lien vers la photo de profil :</label>
      <input type="text" id="path_pp" formControlName="path_pp">
      <br>

      <button type="submit">Appliquer les modifications</button>
      <br>
    </form>


    <br>


  </div>

</div>
