form {
  background-color: #C3D5D0;
  border: #7BA398 solid 4px;
  border-radius: 15px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

form button {
  margin-top: 0.5vw;
  height: 3vw;
}

#retour {
  margin-right: 15%;
  display: flex;
  flex-direction: row-reverse;
}

.image_modifier {
  margin-top: 1vh;
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
