#clickCatcher {
  height: 100vh;
}

.centre{
  text-align: center;
  margin-top: 50px;

}
.retour{
  border-radius: 15%;
  background-color: rgba(58, 175, 169, 0.36);
  margin-left: 60px;
  transition: 0.2s;
}

.valider{
  font-size: 15px;
  border-radius: 15%;
  background-color: rgba(58, 175, 169, 0.36);
  transition: 0.2s;
}

.valider:hover, .retour:hover, #questionSuivante:hover{
  transform: scale(1.5);
  transition: 0.2s;
}

#questionSuivante{
  display: none;
  margin: auto;
  font-size: 15px;
  border-radius: 15%;
  width: 200px;
  height: 100px;
  background-color: rgba(58, 175, 169, 0.36);
  transition: 0.2s;
}


