<app-header [title]="title"></app-header>

<div *ngIf="currentQuiz && currentQuestion">
  <app-game-question-component  (whoIsSelected)="onWhoIsSelected($event)" (somethingSelected)="onSomethingSelected($event)" [quiz]="currentQuiz" [question]="currentQuiz.questions[currentIndex]"></app-game-question-component>
</div>
<div *ngIf="currentQuiz && !currentQuiz.questions[currentIndex]">
  <app-game-end-component [gameInstance]="gameInstance"></app-game-end-component>
</div>

<div class="centre">

  <button class="valider" appAdaptConfig [ngStyle]="getDisable()" [disabled]="somethingSelected" (click)="validate()">
    Valider
  </button>


  <a [routerLink]="['/themes/', userId]">
    <button class="retour" appAdaptConfig [ngStyle]="getDisable()">
      Retour
    </button>
  </a>
  <button [ngStyle]="getDisableQuestion()" id="questionSuivante" (click)="incrementIndexQuestion()" >
    Question suivante
  </button>
</div>




