<app-header [title]="title"></app-header>

<div class="first" *ngIf="quizVisible">
  <div class="card">
    <h2>Créer un nouveau quiz</h2>
    <form class="quiz-form" [formGroup]="quizForm">
      <label for="name">
        Titre <br>
        <input class="input-custom" type="text" name="filterName" id="name"
               [formControlName]="'name'"
               [(ngModel)]="inputValueName">
      </label>
      <br>
      <label for="theme">
        Thème <br>
        <input class="input-custom" type="text" name="filterName" id="theme"
               [formControlName]="'theme'"
               [(ngModel)]="inputValueTheme">
      </label>
      <br>
      <br>
      <button type="centre" class="button-card" (click)="addQuiz()" (click)="closePopup()">Créer le nouveau quiz ! </button>
    </form>
    <br>
    <a class="centre">
      <button (click)="closePopup()">Retour en arrière</button>
    </a>
  </div>
</div>

<div class="second" *ngIf="deleteVisible">
  <h1 class="supp">Êtes-vous sûr de vouloir supprimer le quiz ?</h1>
  <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
    <div class="ON">
      <button type="submit" class="btnON">Oui</button>
      <br>
      <a class="navigation">
        <button class="btnON" (click)="closeDelete()">Non</button>
      </a>
    </div>
    <br>
  </form>
</div>


<div class="espace"></div>
<div class="management-btn-container">
  <h2>Gestion des utilisateurs</h2>
  <a class="navigation" [routerLink]="['/management-users', admin_id]">
    <button class="userGestion">Afficher les patients</button>
  </a>
</div>
<br>
<div class="selection_box" style="display: inline-block;">
  <div class="title">
    <h2>Gestion des quiz</h2>
    <a class="navigation" >
      <button class="gestion_admin" id="add_quiz" (click)="openPopup()">Ajouter un quiz</button>
    </a>
  </div>
  <ul>
    <div class="theme" *ngFor="let theme of themes">
      <h2 (click)="onSelectTheme(theme)">
        <span [ngClass]="{ 'arrow-up': quizListVisible && selectedTheme === theme, 'arrow-down': !quizListVisible || selectedTheme !== theme }"></span>
        Thème : {{ theme.name }}
      </h2>
      <ul *ngIf="selectedTheme === theme && quizListVisible">
        <li *ngFor="let quiz of theme.quizzes" class="quiz-item">
          <div class="quiz_container">
            <a class="navigation" [routerLink]="['/game-page', quiz.id, admin_id]">
              <h3> Quiz : {{ quiz.name }}</h3>
            </a>
            <div class="button-container">
              <a class="navigation" (click)="idThemeOnLocalStorage()" [routerLink]="['/edit-quiz', quiz.id, admin_id]">
                <button class="gestion_admin" id="edit_quiz">Modifier le quiz</button>
              </a>
              <a class="navigation">
                <button class="gestion_admin" id="delete_quiz" (click)="openDelete(quiz.id)">Supprimer le quiz</button>
              </a>
            </div>
          </div>
        </li>
      </ul>
      <br><br>
    </div>
  </ul>
</div>
