<app-header [title]="title"></app-header>
<div class="espace"></div>
<div class="management-btn-container">
  <a class="navigation" [routerLink]="['/management-users']">
    <button>Gestion des utilisateurs</button>
  </a>
</div>
<br>
<div class="selection_box">
  <div class="title">
    <h2>Gestion des quizs</h2>
    <a class="navigation" [routerLink]="['/create-quiz']">
      <button class="gestion_admin" id="add_quiz">Ajouter un quiz</button>
    </a>
  </div>
  <ul>
    <li *ngFor="let theme of themes">
      <div class="theme_container">
        <h2> Theme : {{ theme.name }} </h2>
        <ul>
          <li *ngFor="let quiz of theme.quizzes">
            <div class="quiz_container">
              <a class="navigation" [routerLink]="['/game-page', quiz.id, admin_id]">
                <h3> Quiz : {{ quiz.name }} </h3>
              </a>
              <div class="button_container">
                <a class="navigation" [routerLink]="['/edit-quiz', quiz.id]">
                  <button class="gestion_admin" id="edit_quiz">Modifier le quiz</button>
                </a>
                <a class="navigation" [routerLink]="['/delete-quiz', quiz.id]">
                  <button class="gestion_admin" id="delete_quiz">Supprimer le quiz</button>
                </a>
              </div>
            </div>
          </li>
        </ul>
        <br><br>
      </div>
    </li>
  </ul>
</div>

<br>


