.selection_box {
  background-color: #D9D9D9;
  width: 90%;
  margin: 2% 5% 5%;
  border-radius: 15px;
  padding-bottom: 5px;
}

.theme_container {
  margin: 20px;
}

.theme_container > h2 {
  margin-bottom: 10px;
}

.quiz_container {
  display: flex;
  align-items: center;
  background-color: #C3D5D0;
  margin: 10px 0;
  border-radius: 15px;
  padding: 5px 10px;
  transition: 0.2s;
}

.quiz_container > a {
  flex-grow: 1;
  text-decoration: none;
  color: black;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gestion_admin {
  margin-left: 10px;
  background-color: #D9D9D9;
  font-size: small;

}
#add_quiz{
  margin-right: 70px;
  font-weight: bold;
}

.quiz_container:hover {
  transform: scaleY(1.1);
  transition: transform 0.2s;
  border: solid 1px #000000;
}
.selection_box button {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 15px;
  font-size: 1em;
  transition: 0.2s;
  border-width: 1px;
  border-color: black;
  transform: scale(1.15);
}

.selection_box button:hover {
  transform: scale(1.15);
  border: solid 1px #000000;
  scale: 115%;
}

.button_container button:first-child {
  margin-right: 20px;
}

.button_container button:last-child {
  margin-left: 20px;
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C3D5D0;
  border-radius: 5px;
  padding: 20px 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 1.2em;
}


.userGestion {
  padding: 10px 20px;
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 50px;
  border-radius: 20px;
  background-color: #D9D9D9;
  border-width: 0px;
}

.userGestion:hover {
  background-color: #D9D9D9;
  border-width: 1px;
  border-color: black;
  transition: transform 0.2s;
  transform: scale(1.15);
}
.management-btn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C3D5D0;
  border-radius: 5px;
  padding: 20px 10px;
  margin-left: 60px;
  margin-right: 60px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 1.2em;
}


.espace{
  margin: 10px;
}




