.selection_box {
  background-color: #D9D9D9;
  width: 90%;
  margin: 2% 5% 5%;
  border-radius: 15px;
  padding-bottom: 5px;
  display: inline-block;
}


.gestion_admin {
  margin-left: 10px;
  background-color: #D9D9D9;
  font-size: small;
}

#add_quiz{
  margin-right: 40px;
  font-weight: bold;
}

.selection_box button {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 15px;
  font-size: 1em;
  transition: 0.2s;
  border-width: 1px;
  border-color: black;
  transform: scale(1.15);
}

.selection_box button:hover {
  transform: scale(1.15);
  border: solid 1px #000000;
  scale: 115%;
}

.userGestion {
  padding: 10px 20px;
  font-size: 0.92em;
  font-weight: bold;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #D9D9D9;
  border-width: 0px;
}

.userGestion:hover {
  background-color: #D9D9D9;
  border-width: 1px;
  border-color: black;
  transition: transform 0.2s;
  transform: scale(1.15);
}
.management-btn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C3D5D0;
  border-radius: 5px;
  padding: 20px 10px;
  margin-left: 60px;
  margin-right: 60px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 1.2em;
}


.espace{
  margin: 20px;
}


.card{
  background-color: #D9D9D9;
  display: inline-block;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
}
.centre{
  display: inline-block;
}
.second{
  background-color: #D9D9D9;
  display: inline-block;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
}
.supp{
  font-size: 30px;
  margin-bottom: 20px;
}
.ON{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;

}
.btnON{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 50px;
  padding: 10px;
  font-weight: bold;
}


.quiz-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 15px;
}

.quiz_container {
  display: flex;
  align-items: center;
  background-color: #C3D5D0;
  margin: 10px 0;
  border-radius: 15px;
  padding: 5px 10px;
  transition: 0.2s;
}

.quiz_container > a {
  flex-grow: 1;
  text-decoration: none;
  color: black;
}
.quiz_container:hover {
  transform: scaleY(1.1);
  transition: transform 0.2s;
  border: solid 1px #000000;
}
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C3D5D0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 1.2em;
}
.theme{
  padding: 10px;
}

.create_quiz{
  font-size: 0.8em;
}
.create-quiz-container {
  text-align: right;
}
.gestion_admin#add_quiz {
  margin-left: 10px;
}







