<app-header [title]="title"></app-header>
  <div class="espace"></div>

  <a class="retour" (click)="sendThemeId()" [routerLink]="['/edit-quiz', id_quiz, id_user]">
    <button class="btnretour">Retour</button>
  </a>

<div class="espace"></div>


<div class="mainDiv">

  <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
    <div class="title">
      <label for="title">Intitulé de la question : </label>
      <input type="text" id="title" formControlName="title">
    </div>
    <br>
    <label for="good_answer">Bonne réponse : </label>
    <input type="text" id="good_answer" formControlName="good_answer">
    <br>
    <label for="bad_answer1">Mauvaise réponse 1 : </label>
    <input type="text" id="bad_answer1" formControlName="bad_answer1">
    <br>
    <label for="bad_answer2">Mauvaise réponse 2 : </label>
    <input type="text" id="bad_answer2" formControlName="bad_answer2">
    <br>
    <label for="bad_answer3">Mauvaise réponse 3 : </label>
    <input type="text" id="bad_answer3" formControlName="bad_answer3">
    <br>
    <button type="submit">Appliquer les modifications</button>
    <br>
  </form>
</div>
