<app-header [title]="title"></app-header>
<h1>Liste des patients : </h1>
<ul>
  <div class="grid_display">
    <li *ngFor="let user of usersList">
      <a class="navigation" [routerLink]="['/themes', user.id]">
        <button>Utilisateur : {{user.prenom}} {{ user.nom }}</button>
      </a>
      <div class="gestion_admin">
        <a class="navigation" [routerLink]="['/user-edit', user.id]">
          <button>Modifier l'utilisateur</button>
        </a>
        <a class="navigation" [routerLink]="['/user-delete', user.id]">
          <button>Supprimer l'utilisateur</button>
        </a>
      </div>
    </li>
  </div>
</ul>

<br>
<div class="add_user">
  <a class="navigation" [routerLink]="['/user-create']">
    <button>Ajouter un nouvel utilisateur</button>
  </a>
</div>
