.answers{
  display: none;
}
#question{
  text-align: center;
  width: 80%;
  height: 40px;
  margin-top: -40px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(73, 159, 157, 0.84);
  border-radius: 15px;
}
.isVisible{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  align-items: center;
  justify-items: center;
  margin : 20px 120px 20px 120px;
}
.buttonChoice{
  border-radius: 15%;
  width: 350px;
  height: 150px;
  background-color: rgba(58, 175, 169, 0.36);
}

.buttonChoice:hover {
  transform: scale(1.5);
  transition: 0.2s;
}
#libele_quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #CCE2F5;
}
#libele_quiz>p {
  margin-top: 5px;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}




