<div *ngIf="quiz">
  <div id="libele_quiz">
    <h3 id="question" *ngIf="question"> {{question.label}}</h3>
  </div>
<article [ngClass]="{'isVisible': answerIsDuo}" class="answers">
    <div *ngFor="let answer of getAnswerDuo()">
      <app-game-answer-component  [answer]="answer" [isBadSelected]="!answer.isCorrect" [isGoodSelected]="answer.isCorrect" [isSelected]="currentValue==answer.value" (selected)="onSelected($event)"></app-game-answer-component>
    </div>
  </article>
  <article [ngClass]="{'isVisible': answerIsCarre}" class="answers">
    <div *ngFor="let answer of getAnswerCarre()">
      <app-game-answer-component  [answer]="answer" [isBadSelected]="!answer.isCorrect" [isGoodSelected]="answer.isCorrect" [isSelected]="currentValue==answer.value" (selected)="onSelected($event)"></app-game-answer-component>
    </div>
  </article>
  <article [ngClass]="{'isVisible': answerIsChoice}" class="answers" id="choice">
    <button appAdaptConfig (click)="isCarre()" class="buttonChoice">Carré</button>
    <button appAdaptConfig (click)="isDuo()" class="buttonChoice">Duo</button>
  </article>
</div>


