<div *ngIf="quiz">
  <div id="libele_quiz">
    <h2>Vous jouez au quiz : {{quiz.name}}</h2>

    <p>Voici le thème actuel : soon</p>


    <h3 id="question" *ngIf="question"> {{question.label}}</h3>
  </div>
  <article id="answers" *ngIf="question">
    <div *ngFor="let answer of question.answers">
      <app-game-answer-component  [answer]="answer" [isBadSelected]="!answer.isCorrect" [isGoodSelected]="answer.isCorrect" [isSelected]="currentValue==answer.value" (selected)="onSelected($event)"></app-game-answer-component>
    </div>
  </article>
</div>


