<div *ngIf="quiz">


  <h2>Vous jouez au quiz : {{quiz.name}}</h2>

  <p>Voici le thème actuel : {{quiz.theme}}</p>


  <p id="question" *ngIf="currentQuestion"> {{currentQuestion.label}}</p>

  <article id="answers" *ngIf="currentQuestion">
    <div *ngFor="let answer of currentQuestion.answers">

      <app-game-answer-component [answer]="answer" [isSelected]="currentValue==answer.value" (selected)="onSelected($event)" class="answer"></app-game-answer-component>
    </div>
  </article>
</div>


