.answers{
  display: none;
}
#question{
  text-align: center;
  width: 100%;
  margin: 0px;
  line-height: 80px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  background-color: #C3D5D0;
  border-radius: 15px;
}
.isVisible{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  align-items: center;
  justify-items: center;
  margin : 20px 120px 20px 120px;
}
.buttonChoice{
  border-radius: 15%;
  width: 350px;
  height: 150px;
  background-color: #C3D5D0;
}
.buttonChoice:hover {
  transform: scale(1.5);
  transition: 0.2s;
}
#libele_quiz {
  width: 90%;
  margin: 1% 5%;
  padding-top: 1%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
}
#libele_quiz>p {
  margin-top: 5px;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

#libele_quiz>h2 {
  padding-left: 2%;
  padding-right: 2%;
}
