div {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: center;
}
h3{
  text-align: center;
}
button {
  font-size: medium;
  height: 10vh;
  background-color: #C3D5D0;
  border-radius: 15px;
  transition: 0.2s;
}
.recap {
  width: 35%;
}
#acceuil {
  width: 100%;
}

button:hover {
  scale: 1.5;
  transition: 0.2s;
}
