<div>
  <h3 *ngIf="gameInstance">Bravo ! Vous avez terminé le quiz avec {{gameInstance.score}} point</h3>
  <a [routerLink]="['/themes/', userId]"><button id="acceuil">Accueil</button></a>
  <button class="recap" *ngIf="!visibleRecap" (click)="viewRecap()">Voir le recap</button>
  <button class="recap" *ngIf="visibleRecap" (click)="viewRecap()">Cacher le recap</button>
  <table *ngIf="gameInstance && visibleRecap">
    <thead>
    <tr>
      <th>Questions</th>
      <th>Réponses</th>
      <th>Résultats</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of gameInstance.gameQuestionsAnswers" [ngClass]="{'correct-answer': question.isCorrect, 'wrong-answer': !question.isCorrect}">
      <td>{{ question.questionValue }}</td>
      <td>{{ question.answerValue }}</td>
      <td>
        <span *ngIf="question.isCorrect">Bonne réponse 😀</span>
        <span *ngIf="!question.isCorrect">Mauvaise réponse 🥲</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
