<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Création d'un quiz </title>
</head>
<body>
<h1>Formulaire de création d'un quiz</h1>
<form action="#" method="post">
  <label for="titre">Titre :</label>
  <input type="text" id="titre" name="titre"><br><br>
  <label for="theme">Thème :</label>
  <input type="text" id="theme" name="theme"><br><br>
  <label for="id">ID :</label>
  <input type="text" id="id" name="id"><br><br>
  <input type="submit" value="Envoyer">
</form>
</body>
</html>

