<app-header [title]="title"></app-header>



<div class="espace"></div>

<a class="retour" [routerLink]="['/admin', id_user]">
  <button class="btnretour">Retour</button>
</a>
<div class="espace"></div>

<div class="mainDiv">
  <div class="left">
    <h3>Modifier le nom du quiz</h3>
    <form [formGroup]="formulaireNom" (ngSubmit)="onSubmitName()">
      <label for="title_quiz">Titre du quiz :</label>
      <input type="text" class="input" id="title_quiz" formControlName="title_quiz">
      <br>
      <button class="button" type="submit">Modifier le titre du quiz</button>
    </form>
    <br>
    <h3>Ajouter une nouvelle question</h3>
    <br>
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
      <label for="title">Intitulé de la question</label>
      <input type="text" class="input" id="title" formControlName="title">
      <br>
      <br>
      <label for="good_answer">Bonne réponse</label><br>
      <input type="text" class="input" id="good_answer" formControlName="good_answer">
      <br>
      <label for="bad_answer1">Mauvaise réponse 1</label>
      <input type="text" class="input" id="bad_answer1" formControlName="bad_answer1">
      <br>
      <label for="bad_answer2">Mauvaise réponse 2</label>
      <input type="text" class="input" id="bad_answer2" formControlName="bad_answer2">
      <br>
      <label for="bad_answer3">Mauvaise réponse 3</label>
      <input type="text" class="input" id="bad_answer3" formControlName="bad_answer3">
      <br>
      <button class="button" type="submit">Ajouter une nouvelle question</button>
      <br>
    </form>
  </div>
  <div class="right">
    <br>
    <h3>Liste de questions déjà présentes</h3>
    <ul>
      <li *ngFor="let question of questions.value">
        <a class="navigation" class="questions" (click)="sendIdForComponent()" [routerLink]="['/edit-question', question.id, id_quiz, id_user]" [attr.data-testid]="question.label + '-edit'">
          Question : {{ question.label }}
        </a>
        <button class="button buttonright" (click)="deleteQuestion(question.id)" [ngClass]="question.id+'-delete-button'">Supprimer la question</button>
      </li>
    </ul>
  </div>
</div>

<br>
