.mainDiv{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.espace{
  padding: 10px;
}
.right{
  width: 50%;
  padding: 15px;
  margin-left: 20px;
  border: 1px solid black;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #C3D5D0;


}
.left{
  text-align: center;
  width: 20%;
  margin-right: 20px;
  margin-left: 80px;
  margin-top: 20px;
  padding: 10px;
  padding-right: 40px;
  padding-left: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #C3D5D0;
}
.mainDiv{
  display: flex;
  justify-content: flex-start;
  margin: 5px 100px 20px;
  padding-bottom: 50px;
  padding-top: 0px;
  background-color: #D9D9D9;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.input{
  border-radius: 10px;
  border-width: 1px;
  padding-right: 40px;
}
label{
  padding:10px;
}
.button{
  margin-top: 10px;
}
.questions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

}
.retour{
  margin-left: 100px;
  margin-bottom: 15px;
}
.btnretour{
  background-color: #a1c0b9;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button {
  background-color: #a1c0b9;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.buttonright{
  margin-top: 0px;

}

.button:hover {
  background-color: #88a69e;
}
.btnretour:hover {
  background-color: #88a69e;
}

